.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-frame {
  padding: 10px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 8px;
  box-shadow: 0 0 8px 4px rgba(150, 150, 150, 0.3);
}