.header {
  text-align: center;
}

.card-header {
  margin-top: 10px;
  box-shadow: 0 8px 5px -5px rgba(140, 150, 150, 0.3);
  
}

.span-header{
  color: green;
}

.task{
  color: gray;
  font-weight: bold;
  font-style: italic;
}