.header {
  text-align: center;
}

.card-header {
  margin-top: 10px;
  box-shadow: 0 8px 5px -5px rgba(140, 150, 150, 0.3);
}

.span-header {
  color: green;
}

.task {
  color: gray;
  font-weight: bold;
  font-style: italic;
}

.progress-tag {
  font-weight: bold;
  color: rgb(77, 155, 74);
}

progress[value] {
  /* background-color: green; */
  border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.233) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(165, 165, 165, 0.479), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(73, 209, 255), rgb(255, 0, 0));

  border-radius: 10px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* https://css.gg/unblock */

.gg-unblock {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 100%;
}

.gg-unblock::after,
.gg-unblock::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 7px;
  background: currentColor;
  border-radius: 5px;
  left: 6px;
}

.gg-unblock::before {
  top: -2px;
}

.gg-unblock::after {
  bottom: -2px;
}

.gg-block {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
}

.gg-block::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  transform: rotate(-45deg);
  top: 5px;
  left: 1px;
}

.icon-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content:space-evenly;
  margin-right: 1em;
}
