.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    line-height: 0%;
}

.buttons {
    display: flex;
    align-items: center;
}

.ok {
    font: 1rem !important;
    height: 32px;
    padding:5px 10px;
    margin: 0 3px;
    color: rgb(50, 170, 60);
    border:1px solid rgb(50, 170, 60);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.delete {
    font: 1.2rem !important;
    height: 32px;
    padding:5px 10px;
    margin: 0 3px;
    color: rgb(230, 65, 65);
    border:1px solid rgb(230, 65, 65);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}
.delete:hover, .delete:active, .delete:focus {
    background-color: rgb(230, 65, 65);
    color: rgb(255, 255, 255);
}

.done{
    text-decoration: line-through;
}